<html>
<head>
<title>Restless login</title>
<%= javascript_include_tag 'prototype' %>
<%= stylesheet_link_tag 'default' %>
</head>
<body>
<h1 class="session_header">User Login</h1>
  <%= yield %>
</body>
</html>
